<?xml version="1.0" ?>
<robot name="My robot">
    <webots>
        <device reference="ds02" type="DistanceSensor">
            <ros>
                <topicName>/left_sensor2</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="ds12" type="DistanceSensor">
            <ros>
                <topicName>/right_sensor2</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="my_robot_driver2::MyRobotDriver2" />
    </webots>
</robot>